{% extends '::base.html.twig' %}




{% block body %}

Hello {{ name }}!

Hi {{ app.session.get('eddiesessvar') }}



 <p><a href="{{ path('follower') }}">Manage Followers </a></p>
 <p><a href="{{ path('talent') }}">Manage Talent </a></p>


{% endblock %}