<FilesMatch "\.(js)$">
 SetHandler application/x-httpd-php
 Header set Content-type "application/javascript"
</FilesMatch>

RewriteEngine On
RewriteRule ^shirts/$ shirts/shirts.php
RewriteRule ^shirts/([0-9]+)/$ shirts/shirt.php?id=$1
RewriteRule ^receipt.php$ receipt/ [R=301]
RewriteRule ^contact.php$ contact/ [R=301]
RewriteRule ^shirts.php$ shirts/ [R=301]
RewriteRule ^(shirts/[0-9]+)$ $1/ [R=301]



RewriteRule ^talent/([0-9]+)/$ /crowdluv/brand_cometomytown.php?crowdluv_tid=$1
RewriteRule ^talent/([0-9]+)$ /crowdluv/brand_cometomytown.php?crowdluv_tid=$1

RewriteRule ^luv/([0-9]+)/$ /crowdluv/luv.php?crowdluv_tid=$1
RewriteRule ^luv/([0-9]+)$ /crowdluv/luv.php?crowdluv_tid=$1




RewriteCond %{QUERY_STRING} ^id=([0-9]+)$
RewriteRule ^shirt.php$ shirts/%1/? [R=301]